.back-to-top {
    display         : none;
    position        : fixed;
    bottom          : 20px;
    right           : 20px;
    padding         : 2px 5px;
    background-color: #FF9800;
    color           : #fff;
    border          : none;
    border-radius   : 10px;
    cursor          : pointer;
    z-index         : 1;
    width           : 5;
    transition      : 0.3s all;
}

.back-to-top:hover {
    background-color: #054653;
}

.back-to-top.visible {
    display: block;
}