.hero-section__title {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    line-height: 34px;
    font-size  : 34px;
    width      : 100%;
    max-width  : 500px;
    margin-top : 100px;
    color      : #fff;
}

.hero-section__text {
    font-family: 'Bad Script';
    font-weight: 600;
    margin-top : 30px;
    color      : #fff;
}

.hero-section__button {
    padding         : 10px 15px 10px 15px;
    background-color: #FF9635;
    color           : #fff;
    border          : none;
    border-radius   : 20px;
    font-weight     : 600;
    margin-top      : 35px;
    margin-left     : 180px;
    cursor          : pointer;
    transition      : 0.3s all;
}

.hero-section__button:hover {
    background-color: #054653;
}